log_file = /var/log/audit/audit.log
log_format = RAW
log_group = root
max_log_file = {{ audit_max_log_file }}
max_log_file_action = {{ os_audit_max_log_file_action }}
space_left_action = email
action_mail_acct = root
admin_space_left_action = halt
disk_full_action = SUSPEND
disk_error_action = SUSPEND
tcp_listen_queue = 5
tcp_max_per_addr = 1
